!!!
%html{lang: "en"}

  %head
    %title Image converter
    %link{type: "text/css", rel: "stylesheet", href: "css/bootstrap.css"}
    %link{type: "text/css", rel: "stylesheet", href: "css/app.css"}
    %script{type: "text/javascript", charset: "utf-8", src: "js/bootstrap.js"}

  %body
    %div.container
      #title
        %h1.text-center Multimedia

      = yield
